<footer class="footer footer-displaying">
    <div class="has-text-centered">
        <p>Copyright ©2019 <strong><a class="has-text-dark" href="https://devmentors.io/">DevMentors.io</a></strong></p>
    </div>
</footer>